<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Dead City Productions Character System</h1>
    <h2>Character Approved</h2>
    <p>Hi, <%= @user.name %>!</p>
    <p>
      Your character, <%= @character.name %>, has been approved for <%= @character.chronicle.title %>. Congratulations! To see your finalized character sheet, <a href="http://characters.deadcityproductions.com#{character_path(@character)}">click here.</a>

    </p>
  </body>
</html>
