<h2>Character Types</h2>

<table class="table">
	<% @character_types.each do |character_type| %>
		<tr>
			<td><%= link_to character_type.name, admin_character_type_path(character_type) %></td>
			<td><%= link_to "Edit", edit_admin_character_type_path(character_type) %></td>
			<td><%= link_to "Delete", admin_character_type_path(character_type, method: 'delete') %></td>
		</tr>
	<% end %>
</table>

<%= link_to "New Character Type", new_admin_character_type_path, class: "button" %>