<h2>New Character Type</h2>

<%= form_for @character_type, url: {action: 'create'} do |f| %>
	<%= render partial: 'form', locals: {f: f} %>

	<button class="button" type="submit">Create</button>
<% end %>