= f.text_field :title
= f.text_field :points_spent
= f.text_field :assets
= f.text_area :description
= f.hidden_field :character_id, value: @character.id
= f.hidden_field :game_id
= f.button "Save", class: 'button'