<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Dead City Productions Character System</h1>
    <h2>Password Reset</h2>
    <p>Hi, <%= @user.name %>!</p>
    <p>
      Your new password is <%= @newpass %>.  Please remember to change it to something more memorable after logging in.
    </p>
  </body>
</html>