.top-bar {
  background-color: $dark-purple;

  .name h1 a {
    font-size: 1.3em;
  }

  .top-bar-section li:not(.has-form) a:not(.button) {
    background: $dark-purple;
    font-size: 1em;

    &:hover {
      background: $purple;
    }

  }
}
