/* Manifest changed from require to import to ensure that scss files are loaded in the correct order. */

@import "foundation_and_overrides";
@import "font-awesome";
@import "utilities/*";
@import "components/*";

@import "characters";
@import "chronicle";
@import "home";
@import "session";
@import "users";

button, .button {
  background-color: $purple;
  color: white;

  &:hover {
    background-color: $magenta;
  }
}
