/* Manifest changed from require to import to ensure that scss files are loaded in the correct order. */

@import "foundation_and_overrides";
@import "font-awesome";
@import "utilities/*";
@import "components/*";

@import "characters";
@import "chronicle";
@import "home";
@import "session";
@import "users";

button, .button {
  background-color: $purple;
  color: white;

  &:hover {
    background-color: $magenta;
  }
}

a {
  color: darken($magenta, 10%);

  &:hover {
    color: $magenta;
  }
}

.mini-button {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 3px;
}

p.help-text {
  font-size: 14px;
  font-style: italic;
  opacity: .9;
}
