// Place all the styles related to the characters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.character_index_page {
  h2 {
    font-size: 1.5em;
    color: $purple;
    margin-top: .5em;
  }

  .create_character_button {
    margin-left: 2em;
    top: -.2em;
  }

  img {
    border: 6px solid $purple;
    border-radius: 3px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  }

  #character_index_table {
    .mini-button {
      margin-bottom: 0em;
    }
  }
}

.character_form_page {
  h1 {
    font-size: 1.3em;
    color: $purple;
  }

  h2 {
    font-size: 1.2em;
    color: $purple;
  }

  h3 {
    font-size: 1em;
    color: $purple;
  }

  input[type="radio"]{
    margin-left: .2em;
  }

  .help-text {
    font-size: 12px;
    font-style: italic;
    color: #999;
  }

  #attributes_table {
    thead, tr {
      background-color: white !important;
      white-space: nowrap;
    }
  }

  .skill_tables {
    tr {
      white-space: nowrap;
    }
  }

  textarea {
    height: 150px;
  }

  .dot {
    display: inline-block;
    width: 15px;
    height: 15px;
    overflow: hidden;

    .fa {
      margin-left: 1px;
    }

    input {
      margin-left: 50px;
    }
  }

  #health_track, #power_stat_track, #willpower_track, #morality_track {
    .dot {
      height: 20px;
    }
  }
}

.character_show_page {
  h2 {
    margin-top: 1em;
    margin-left: .5em;
  }

  h4 {
    font-size: 1em;
  }
}
