// Place all the styles related to the characters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.character_index_page {
  h2 {
    font-size: 1.5em;
    color: $purple;
    margin-top: .5em;
  }

  .create_character_button {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 2em;
    top: -.2em;
    border-radius: 3px;
  }
}

.character_new_page {
  h1 {
    font-size: 1.3em;
    color: $purple;
  }

  h2 {
    font-size: 1.2em;
    color: $purple;
  }

  h3 {
    font-size: 1em;
    color: $purple;
  }
}
