// Place all the styles related to the Chronicle controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.chronicle_index_page, .chronicle_new_page, .chronicle_show_page{
  h2 {
    font-size: 1.5em;
    color: $purple;
    margin-top: .5em;
  }

  .create_chronicle_button, .edit_chronicle_button {
    margin-left: 2em;
    top: -.2em;
  }

  img {
    border: 6px solid $purple;
    border-radius: 3px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  }
}
