<h1>Chronicles</h1>
<h3><%=link_to "Create a new Chronicle!", new_chronicle_path %></h3>
<% if @chronicles.present? %>
<table class="table">
  <thead>
    <tr>
      <th>Chronicle Title</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @chronicles.each do |chronicle| %>
    <tr>
      <td><%= link_to chronicle.title, chronicle_path(chronicle) %></td>
      <td></td>
      <td><%= link_to "edit", edit_chronicle_path(chronicle), class: "btn btn-xs" %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<% else %>
<center>No Chronicles have been created yet.</center>
<% end %>
