<!doctype html>
<html lang="en">
	<head>
		<meta charset='utf-8' />
		<%= stylesheet_link_tag    "application", media: 'screen, print' %>
    <style type="text/css">
	    body, body p {
	    	font-size: 12px;
	    	line-height: 1em;
	    }

	    h1, h2, h3, h4, h5, h6 {
	    	line-height: 1em;
	    }

			h2, h3, h4 {
				color: #000 !important;
			}

			.character_show_page {
				page-break-after: always;
			}

			.small-4 {
				float: left !important;
				width: 33%;
			}

			.small-6 {
				float: left;
				width: 50%;
			}

			table thead tr th, table thead tr td, table tbody tr td, table tbody tr th {
				font-size: 12px;
				line-height: 1em;
				padding: 5px;
			}

			#attributes_table {
				margin-bottom: 0;
			}
    </style>
	</head>
	<body>
		<%= yield %>
	</body>
</html>