<!doctype html>
<html lang="en">
	<head>
		<meta charset='utf-8' />
		<%= stylesheet_link_tag    "application" %>
    <style type="text/css">
			h2, h3, h4 {
				color: #000 !important;
			}
    </style>
	</head>
	<body>
		<%= yield %>
	</body>
</html>